[user]
	name = Marc Reynolds
	email = mreynolds@doximity.com
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
[init]
	templatedir = ~/.git_template
[alias]
	ctags = ~.git/hooks/ctags
  hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
  st = status
  br = branch
  type = cat-file -t
  dump = cat-file -p
[color]
	ui = auto
	diff = true
[push]
  default = current
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
